{% extends 'lang/base.html' %}
{% block content %}
    <div class="container py-1">    
        <div class="row align-items-md-stretch">
              <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                  Текс оригинал: <p class="card-text">{{ translate_item.translate_from_text}}</p>
                  Язык - оригинал: <p class="card-text">{{ translate_item.language_input}}</p>
{#                  Скачать Аудио-файл оригинала: <a href="{% url 'download_mp3' translate_item.file_one %}" class="btn btn-success"> Скачать </a>#}
                  Скачать Аудио-файл оригинала: <a href="{% url 'download_mp3' translate_item.get_file_1_name %}" 
                                                   class="btn btn-success"> Скачать </a>  
                </div>
              </div>
              <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                  Перевод: <p class="card-text">{{ translate_item.translated_text}}</p>
                  Язык - перевода:<p class="card-text">{{ translate_item.language_output}}</p>  
                  Скачать Аудио-файл перевода: <a href="{% url 'download_mp3' translate_item.get_file_2_name %}" 
                                                   class="btn btn-success"> Скачать </a>  
                </div>
              </div>
        </div>
    </div><br>
    <div class="inner">
        <a href="{% url 'compare' translate_item.pk %}" class="btn btn-secondary"> Сравнить </a><br><br>
        <a href="{% url 'delete_translate' translate_item.pk %}" class="btn btn-danger"> Удалить </a>
    </div>
    
{% endblock %}